<div class="md-padding">
    <p>
        A panel can be used to create dialogs, menus, and other overlays.
    </p>
    <h2>Options</h2>
    <div layout="row">
        <div flex="33">
            <md-checkbox>Disable Parent Scroll</md-checkbox>
        </div>

        <div class="demo-md-panel-content">
            <md-button class="md-primary md-raised demo-dialog-open-button"
                       ng-click="">
                Dialog
            </md-button>
            <md-button class="md-primary md-raised demo-menu-open-button"
                       ng-click="">
                Select Menu
            </md-button>

            <p>Your favorite dessert is: "HOLA"</p>
        </div>
    </div>
</div>